<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>☆Python機械学習アプリ<br>きのこ派かたけのこ派か予測するよ！</h1>
    <p>下のフォームに情報を入力してね</p>
    <form action="/post" method="post">
        <p>身長：</p>
        <input type="text" name="height" required>
        <p>体重：</p>
        <input type="text" name="weight" required>
        <p>年代：</p>
        <select name="age" required>
            <option value="10">10代</option>
            <option value="20">20代</option>
            <option value="30">30代</option>
            <option value="40">40代</option>
        </select>
        <p><button type="submit" value="">予測する</button></p>
        <p>{% with messages= get_flashed_messages() %}
             {% if messages %}
             {% for message in messages %}
                {{ message }}
             {% endfor %}
             {% endif %}
            {% endwith %}

        </p>
        
    </form>
</body>
</html>